{% extends "base.html" %}

{% block contenido %}
<h1>Un poco de historia</h1>

<p><strong><center> El Congreso de la Nación dispuso por ley 14037 del 8 de agosto de 1951 crear una nueva provincia que tuviera jurisdicción en lo que hasta ese momento había sido el territorio nacional del Chaco. La misma se constituyó en 1952, mediante una asamblea constituyente democráticamente electa, que sesionó entre el 17 y el 21 de diciembre de 1951, sancionando la constitución provincial y eligiendo el nombre que habría de designar: «provincia Presidente Perón».
La nueva constitución provincial introdujo como novedad en el sistema político argentino al establecer que la mitad de los miembros de la Cámara de Representantes sería elegida por votación popular y la otra mitad "será elegida por los ciudadanos que pertenezcan a las entidades profesionales que se rigen por la ley nacional de asociaciones profesionales, debiendo estar integrada la lista de candidatos con miembros de esas entidades".
En septiembre de 1955, el dictador Eduardo Lonardi, cuando aún se encontraba en Córdoba y antes de asumir el cargo, dispuso anular el nombre elegido por la asamblea constituyente para la provincia, y estableció que se la debía designar con el nombre que le había impuesto el decreto del presidente Domingo F. Sarmiento en 1872, al incorporarla como territorio nacional.
El 27 de abril de 1956, el dictador Pedro Eugenio Aramburu dictó una proclama anulando la constitución nacional vigente y las constituciones provinciales, incluyendo la chaqueña. De este modo la provincia del Chaco quedó sin constitución. En 1957 la dictadura convocó a elegir una asamblea constituyente provincial, pero con la prohibición legal de que el partido peronista se presentara en las elecciones. El resultado fue la sanción de la Constitución chaqueña de 1957, cuya legitimidad estuvo en discusión, debido a que no fue sancionada democráticamente.
Por la Ley Provincial N° 6 del 1 de julio de 1973, la Legislatura creó una nueva división departamental que modificó la denominación de algunos departamentos.
Por el Convenio Interprovincial firmado en Buenos Aires, el 18 de julio de 1978, las provincias del Chaco y de Corrientes solucionaron el diferendo por la posesión de islas en el Río Paraná, definiendo por completo sus límites.</center></strong></p>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/wHT18wa5ZXE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></center>
{% endblock contenido %}





